footer.footer 
  p.footer__copyright (с) QSOFT, 2019
  p.footer__comment 
    a(href='#') Работает на 1С Битрикс:Управление сайтом
  p.footer__privacy-policy
    a(href='#') Политика конфиденциальности
  button.footer__subscribe Подписаться