header.header
    a.header__logo
      img(src='#', alt='QSOFT logo', width='100', height='50')
    nav.header__navigation.navigation
      ul.navigation__list 
        li.navigation__item
          a(href='#') Новости
        li.navigation__item
          a(href='#') Проекты
        li.navigation__item
          a(href='#') Контакты
    a.header__phone(href='tel:88888888888')  8 (888) 888-88-88