main.main-page
  h1.main-page__title.visually-hidden(style=visuallyHidden) Главная страница сервиса QSOFT
  
  section.main-page__promo.promo 
    h2.promo__title Лидер в разработке интегрированных и высоконагруженных интернет-решений
    button.promo__order Заказать

  section.main-page__news.news
    h2.news__title Новости
    
    article.news__item.post
      h3.post__title 
        | Разработка самого крупного портала на Битриксе в России
      p.post__content
        | Смотрите видео и читайте наш новый кейс о том, как мы объединили
        | на одной платформе сотрудников с производства и офиса
        | Новолипецкого металлургического комбината.

    article.news__item.post
      h3.post__title 
        | Как выбрать IT-платформу для интернет-магазина
      p.post__content
        | Об этом сегодня расскажет генеральный директор QSOFT
        | Виталий Чесноков в школе электронной коммерции iWENGO.
    
    article.news__item.post
      h3.post__title 
        | Мы участвуем в выставке ECOM Expo и угощаем кофе!
      p.post__content
        | Выступили с докладом про цифровую трансформацию клиентского сервиса.
        | В ходе доклада были затронуты вопросы построения единой эко-системы 
        | для повышения эффектиности работы с конечным клиентом.